* {
    box-sizing: border-box;
    margin: 0; padding: 0;
  }
  
  body{
    background-color: #81968F;
  }

  img{
    width: 400px;
    height: 400px;
    position: absolute;
    left:0;
    top:0;
  }
  
  h1{
    color: #1F271B;
    font-size: 14rem;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1rem;
  }

  :active, :hover, :focus {
    outline: 0!important;
    outline-offset: 0;
  }
  ::before,
  ::after {
    position: absolute;
    content: "";
  }

  .btn-holder,.wrapper,h1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    margin: 10px auto 35px;
    margin-top: 10%;
  }
  .btn {
    position: relative;
    display: inline-block;
    width: auto; height: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0px 25px 15px;
    min-width: 150px;
  }
    .btn span {         
      position: relative;
      display: inline-block;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 2px;
      text-transform: uppercase;
      top: 0; left: 0;
      width: 100%;
      padding: 15px 20px;
      transition: 0.3s;
    }
  
  .btn-3 {
    padding: 5px;
  }
  .btn-3 span {
    color: rgb(255, 255, 255);
    background-color: rgb(54, 56, 55);
  }
  .btn-3::before,
  .btn-3::after {
    background: transparent;
    z-index: 2;
  }
  
  /* 11. hover-border-1 */
  .btn.hover-border-1::before,
  .btn.hover-border-1::after {
    width: 10%; height: 25%;
    transition: 0.35s;
  }
  .btn.hover-border-1::before {
    top: 0; left: 0;
    border-left: 1px solid #FFBF00;
    border-top: 1px solid #FFBF00;
  }
  .btn.hover-border-1::after {
    bottom: 0; right: 0;
    border-right: 1px solid #FFBF00;
    border-bottom: 1px solid #FFBF00;
  }
  .btn.hover-border-1:hover::before,
  .btn.hover-border-1:hover::after {
    width: 99%;
    height: 98%;
  }
  
  .wrapper{
    width:50%;
    height:50px;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }
  .wrapper input{
    width:100%;
    height:100%;
    color:#000;
    padding-top:10px;
    border:none;
    font-size: 16px;
    outline: none;
    background-color: transparent;
  }
  .wrapper label{
    position: absolute;
    left:0px;
    bottom: 0px;
    width:100%;
    height:100%;
    pointer-events: none;
    border-bottom: 3px solid black;
  }
  .wrapper label:after{
    content:'';
    width:100%;
    height:100%;
    left:0px;
    bottom:-3px;
    border-bottom: 3px solid black;
    position: absolute;
    transform: translateX(-100%);
    transition: all .6s ease;
  }
  .wrapper label span{
    position: absolute;
    bottom:5px;
    left:0px;
    transition: all .6s ease;
    color: black;
  }
  .wrapper input:focus + label span,
  .wrapper input:valid + label span{
    transform: translateY(-20px);
    transition: all .6s ease;
    color:black;
  }
  .wrapper input:focus + label:after,
  .wrapper input:valid + label:after{
    transform: translateX(0%);
    transition: all .6s ease;
  }

  .footer {
    color: wheat;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #1F271B;
    text-align: center;
  }